<div style="display: inline-flex">
  <div>
  <button class="espanol" (click)="eleccionIdioma('español')"></button></div>
  <div><button class="ingles" (click)="eleccionIdioma('ingles')"></button></div>
  <div><button class="portugues " (click)="eleccionIdioma('portugues')"></button></div>


</div>
<div style="display: grid;height: 90%;">
  <button class="Uno" (click)="reproducirSonido('uno')"></button>
  <button class="Dos" (click)="reproducirSonido('dos')"></button>
  <button class="Tres" (click)="reproducirSonido('tres')"></button>
  <button class="Cuatro" (click)="reproducirSonido('cuatro')"></button>
  <button class="Cinco" (click)="reproducirSonido('cinco')"></button>
  <button class="volver" routerLink="/principal"></button>

</div>