
<app-header-email></app-header-email>
<input type="button" routerLink="/admin" value="gestion materias admin" *ngIf="(tipo == 'administrador')">
<input type="button" routerLink="/usuarios" value="ver Usuarios" *ngIf="(tipo == 'administrador')">
<input type="button" routerLink="/turnos" value="ver turnos" *ngIf="(tipo == 'administrador')">
  <input type="button" routerLink="/cliente" value="gestion mascota cliente" *ngIf="(tipo == 'cliente')">
  <input type="button" routerLink="/altaTurno" value="pedir turno" *ngIf="(tipo == 'cliente')">
  <input type="button" routerLink="/chat" value="chat">
  <input type="button" value="validar tipo de usuario" (click)="prueba()" *ngIf="!tipo">