
<body>
<div class="login-page">
  <div class="form">
   
    <div class="login-form">
      <ion-input type="mail" [(ngModel)]="user.email" placeholder="correo electronico"></ion-input>
      
      <ion-input  [(ngModel)]="user.password" type="password" placeholder="contraseña"></ion-input>

      <div class="container-login100-form-btn" >
						
        <ion-item>
          <label style="text-align:center;">Usuario</label>
        <ion-select    name="f" [(ngModel)]="tipoUser" (ionChange)="UserValido()">
          <ion-select-option value="admin">Administrador</ion-select-option>
          <ion-select-option value="usuario">Usuario</ion-select-option>
          <ion-select-option value="invitado">Invitado</ion-select-option>
          <ion-select-option value="anonimo">Anonimo</ion-select-option>
          <ion-select-option value="tester">Tester</ion-select-option>
        </ion-select>
        </ion-item>
      
      </div>

      <div>
      <ion-button color="success" (click)="login()">Acceder</ion-button>
      <ion-button color="danger" (click)="borrar()">Cancelar</ion-button>
      </div>
    </div>
  </div>
</div>
</body>