<div class="fondo">
  <!-- Three columns of text below the carousel -->
  <div class="row" style="    margin-top: 20px;
  margin-left: 500px;     margin-right: 0px;margin-bottom: 29px;">
    <div class="col-lg-8">
        <img _ngcontent-c3="" alt="Generic placeholder image" class="rounded-circle" height="235" src="./assets/imagenes/turnoIcono.png" width="243">
      <h2>Gestion de Turnos</h2>
      <p>Solicitud de nuevo turno o cancelacion</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/TurnosRecepcion">Gestionar</a></p>
    </div><!-- /.col-lg-4 -->
    
  </div><!-- /.row -->

