<app-header-email></app-header-email>

<h1>Alta de materia - Administrador</h1>

<form [formGroup]="registroForm">
  
  Ingrese cuatrimestre: 
  <input type="text" formControlName="raza" id="raza"[(ngModel)]="unaMateria.cuatrimestre" >
  <br>
  Ingrese nombre de la materia: 
  <input type="text" formControlName="nombre" id="nombre"[(ngModel)]="unaMateria.nombre" >
  <br>
  Ingrese cupo: 
  <input type="text"   formControlName="edad" id="edad" [(ngModel)]="unaMateria.cupos" >
  <br>
  seleccione Profesor 
 <select *ngFor="let profe of lista3">
   <option >{{profe.nombre}}</option>

 </select>
  <br>
  
  <!--
  <br>
  Subir una foto
  <input type="file"  id="foto" (change)="onUpload($event)" formControlName="foto"-->
  <input type="hidden"  id="id" [(ngModel)]="unaMateria.id" formControlName="id">
  <br><br>
  <input type="button" value="Enviar" (click)="subir()" [disabled]="!registroForm.valid" *ngIf="!modifica">
  <input type="button" value="Modificar" (click)="modificar()" *ngIf="modifica">

</form>
<app-success materia={{unaMateria.nombre}} ></app-success>
<div (alta)=alert()></div>
<br><br><br>

  <table border="solid">
    <thead>
      <th>Nombre</th>
      <th>Cuatrimeste</th>
      <th>Profesor</th>
      <th>cupos</th>

      
      <!--<th>foto</th>-->
      <th>boton</th>
    </thead>
    <tr *ngFor="let mascota of lista">
      <td>{{mascota.nombre}}</td>
      <td>{{mascota.cuatrimestre}}</td>
      <td>{{mascota.profesor}}</td>
      <td>{{mascota.cupos}}</td>
      <!--<td><img [src]="imagenes([mascota.foto]) || async"/></td>-->
      <td><input type="button" value="Modificar" (click)="llenarInputs(mascota)"></td>
      
    </tr>

  </table>

  
<br><br>
