<div class="fondo">
<div class="aboutus-section">
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aboutus">
                  <h2 class="aboutus-title">Sobre Facundo Islas</h2>
                  <p class="aboutus-text">Soy Facundo Islas, estudiante de la carrera de tecnicatura en programacion en la Universidad Tecnologica Nacional (UTN), curso 4B </p>
                  <p class="aboutus-text">Para ver mi repositorio podes hacer click en el siguiente boton:</p>
                  <a class="aboutus-more" href="http://www.github.com/facundoislas" target="blank">Mi Github</a>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aboutus-banner">
                <img src="./assets/imagenes/quiensoy.jpg" class="img-responsive margin imagenDeQuienSoy"  alt="Image">
              </div>
          </div>
          <div class="col-md-5 col-sm-6 col-xs-12">
              <div class="feature"><br><br><br>
                  <div class="feature-box">
                      <div class="clearfix">
                          <div class="iconset">
                              <span class="glyphicon glyphicon-cog icon"></span>
                          </div>
                          <div class="feature-content">
                              <h4>Mi Juego: Adivina la provincia</h4>
                              <p>El juego consiste en adivinar la provincia a partir de una imagen mostrada.
                                Entre 4 opciones.
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="feature-box">
                      <div class="clearfix">
                          <div class="iconset">
                              <span class="glyphicon glyphicon-cog icon"></span>
                          </div>
                          <div class="feature-content">
                              <h4>Objetivo</h4>
                              <p>Saber cuanto sabes de geografia Argentina a partir de reconocer monumentos historicos o paisajes.</p>
                          </div>
                      </div>
                  </div>
                  <div class="feature-box">
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</div>