
 
	

			<body style="
            margin-bottom: -40px;
        ">	
			<div class="container-fluid" id="body-container-fluid" style="
            margin-top: -92px;">
				<div class="container">
					<!---- for body container ---->
						
						
						<div class="jumbotron">
						<h1 class="display-1">4<i class="fa  fa-spin fa-cog fa-3x"></i> 4</h1>
						<h1 class="display-3">ERROR</h1>
						<p class="lower-case">La pagina a la que quiere ingresar no existe</p>
						<p class="lower-case">Por favor vuelva al inicio</p>

						</div>
						
						 <!-------mother container middle class------------------->
						 

				</div>
		
				
						
 
			<div class="container-fluid" id="footer-container-fluid">
				<div class="container">
					<!---- for footer container ---->
 				</div>
			</div>
  			
				
			
        </div>
    </body>	