<div style="display: inline-flex">
  <div>
  <button class="espanol" (click)="eleccionIdioma('español')"></button></div>
  <div><button class="ingles" (click)="eleccionIdioma('ingles')"></button></div>
  <div><button class="portugues " (click)="eleccionIdioma('portugues')"></button></div>


</div>
<div style="display: grid;height: 90%;">
  <button class="perro" (click)="reproducirSonido('azul')"></button>
  <button class="gato" (click)="reproducirSonido('rojo')"></button>
  <button class="leon" (click)="reproducirSonido('verde')"></button>
  <button class="pajaro" (click)="reproducirSonido('amarillo')"></button>
  <button class="mono" (click)="reproducirSonido('naranja')"></button>
  <button class="volver" routerLink="/principal"></button>
</div>