.fondo{

    background-image: url(".../../../docs/assets/imagenes/slider-bg-2.jpg");
    margin-top: -60px;
    padding: 9%;
  }


  .project-tab {
    padding: 10%;
    margin-top: -8%;
}
.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color: #3cff00;
    background-color: transparent;
    border-color: transparent transparent #ffe600;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #ffe600;
    border-color: transparent transparent #ffe600;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: 600;
}
.project-tab .nav-link:hover {
    border: none;
    color: #3cff00;
}
.project-tab .nav-link:before {
    border: none;
    color: #3cff00;
}
.project-tab thead{
    background: #f3f3f3;
    color: #333;
}
.project-tab td{
    text-decoration: none;
    color: rgb(251, 255, 2);
    font-weight: 600;
}