
  <body class="fondo">
    <div class="container">
    <!---heading---->
        <header class="heading"> Formulario de Registro</header>
        <div>
     <!---Form starting----> 
     <div class="row ">
      <!--- For Name---->
            <div class="col-sm-12">
                <div class="row">
              <div class="col-xs-4">
                        <label class="firstname">Nombre</label> </div>
                <div class="col-xs-8">
                    <input type="text" name="fname" id="fname" required placeholder="Ingresa tu nombre" class="form-control " [(ngModel)]="unUsuario.nombre">
                </div>
             </div>
        </div>

        <div class="col-sm-12">
          <div class="row">
        <div class="col-xs-4">
                  <label class="firstname">Apellido</label> </div>
          <div class="col-xs-8">
              <input type="text" name="fname" id="fname" required placeholder="Ingresa tu Apellido" class="form-control " [(ngModel)]="unUsuario.apellido">
          </div>
       </div>
  </div>
        
        <!-----For email---->
        <div class="col-sm-12">
            <div class="row">
              <div class="col-xs-4">
                    <label class="mail" >Correo</label></div>
              <div class="col-xs-8"	>	 
                   <input type="email" name="email" required  id="email"placeholder="Ingresa tu Correo" class="form-control" [(ngModel)]="unUsuario.email">
                </div>
            </div>
        </div>
      <!-----For Password and confirm password---->
             <div class="col-sm-12">
                <div class="row">
                <div class="col-xs-4">
                        <label class="pass">Contraseña</label></div>
             <div class="col-xs-8">
                      <input type="password" name="password"  required id="password" placeholder="Ingresa tu contra" class="form-control" [(ngModel)]="unUsuario.clave">
            </div>
             </div>
    
          </div>
          <div class="col-sm-12">
            <div class="row">
            <div class="col-xs-8" style="text-align: center">
                    <label class="archivo">Subi tu foto</label></div>
         <div class="col-xs-4">
                  <input type="file" accept=".png, .jpg" value="subi tu foto" (change)="onUpload($event)" style="color: white">
        </div>
         </div>
        </div>
            <div class="col-sm-12">
                <div class="btn btn-warning" (click)="enviar()">Enviar</div>
          </div>
          <br>
          <br>
          <div class="col-sm-12">
            <div class="btn btn-warning" routerLink="/">Ya estoy registrado</div>
      </div>
        </div>
      </div>	 
             
        
   </div>
   