<div class="fondo">
    <!-- Three columns of text below the carousel -->
    <div class="row" style="    margin-top: 20px;
    margin-left: 224px;     margin-right: 0px;">
      <div class="col-lg-6">
          <img _ngcontent-c3="" alt="Generic placeholder image" class="rounded-circle" height="235" src="./assets/imagenes/saladejuegos.png" width="243">
        <h2>Sala de Juegos</h2>
        <p>Los mejores juegos para agilizar tu mente y poder entretenerte. La mas divertida experiencia</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/Juegos">Jugar</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-6">
          <img _ngcontent-c3="" alt="Generic placeholder image" class="rounded-circle" height="235" src="./assets/imagenes/listado.jpg" width="243">
        <h2>Listados de Resultados</h2>
        <p>Conoce quienes son los jugadores mas ganadores</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/Listado">Ver listado</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-6"><br><br><br>
          <img _ngcontent-c3="" alt="Generic placeholder image" class="rounded-circle" height="235" src="./assets/imagenes/jugadores.png" width="243">
        <h2 style="margin-left:55px;">Jugadores</h2>
        <p>Listado de los jugadores de esta web</p>
        <p><a class="btn btn-danger btn-lg" href="#" role="button" routerLink="/Jugadores">Jugadores</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-6"><br><br>
          <img _ngcontent-c3="" alt="Generic placeholder image" class="rounded-circle" height="235" src="./assets/imagenes/Configuracion.png" width="243">
        <h2>Configuracion</h2>
        <p>Ingresa para realizar las configuraciones que prefieras en los juegos</p>
        <p><a class="btn btn-danger btn-lg" href="#" role="button" routerLink="/Configuracion">Configurar</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

