<div class="fondo">

  <h3 class="text-center" style="color:white">Juegos</h3>
  <div class="container mt-40">
    
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6">
            <div class="box4">
              <img class="img-thumbnail"   src="./assets/imagenes/cerebro.jpg" alt="Avatar">
                <div class="box-content">
                    <h3 class="title">Agilidad Aritmetica</h3>
                    <span class="post">Pone a prueba tus conocimientos en matematica</span>
                    <p><button class="btn btn-danger"  (click)="Juego('Agilidad')">Jugar</button></p>
                    <ul class="icon">
                      <li><a href="#"><i class="fa fa-dribbble"></i></a> </li>
                <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a> </li>
                <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box4">
              <img  class="img-thumbnail"  src="./assets/imagenes/adivina.png" alt="Avatar">
                <div class="box-content">
                    <h3 class="title">Numero Secreto</h3>
                    <span class="post">Podes adivinar el numero elegido por la maquina?</span>
                    <p><button class="btn btn-danger"  (click)="Juego('Adivina')">Jugar</button></p>
                    <ul class="icon">
                      <li><a href="#"><i class="fa fa-dribbble"></i></a> </li>
                <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a> </li>
                <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box4">
              <img class="img-thumbnail" src="./assets/imagenes/ppt.jpg" alt="Avatar">
                <div class="box-content">
                    <h3 class="title">Piedra, Papel o Tijera</h3>
                    <span class="post">El clasico juego en internet</span>
                    <p><button class="btn btn-danger"  (click)="Juego('PPT')">Jugar</button></p>
                    <ul class="icon">
                      <li><a href="#"><i class="fa fa-dribbble"></i></a> </li>
                <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a> </li>
                <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="box4">
            <img  class="img-thumbnail"  src="./assets/imagenes/adivinaprovincia.png" alt="Avatar">
              <div class="box-content">
                  <h3 class="title">Adivina Provincia</h3>
                  <span class="post">Cuanto sabes de geografia Argentina?</span>
                  <p><button class="btn btn-danger"  (click)="Juego('AdivinaProvincia')">Jugar</button></p>
                  <ul class="icon">
                    <li><a href="#"><i class="fa fa-dribbble"></i></a> </li>
                <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a> </li>
                <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
                  </ul>
              </div>
          </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="box4">
          <img  class="img-thumbnail"  src="./assets/imagenes/anagrama.jpg" alt="Avatar">
            <div class="box-content">
                <h3 class="title">Anagrama</h3>
                <span class="post">Que palabra se forma con estas letras?</span>
                <p><button class="btn btn-danger"  (click)="Juego('Anagrama')">Jugar</button></p>
                <ul class="icon">
                  <li><a href="#"><i class="fa fa-dribbble"></i></a> </li>
                <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a> </li>
                <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="box4">
        <img  class="img-thumbnail"  src="./assets/imagenes/tateti.png" alt="Avatar">
          <div class="box-content">
              <h3 class="title">TaTeTi</h3>
              <span class="post">Suerte para ti</span>
              <p><button class="btn btn-danger"  (click)="Juego('Tateti')">Jugar</button></p>
              <ul class="icon">
                <li><a href="#"><i class="fa fa-dribbble"></i></a> </li>
                <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a> </li>
                <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
              </ul>
          </div>
      </div>
  </div>
    </div>


</div>