<div class="fondo">
  <!-- Three columns of text below the carousel -->
  <div class="row" style="    margin-top: 20px;
  margin-left: 361px;     margin-right: 0px;margin-bottom: 29px;">
    <div class="col-lg-6">
        <img _ngcontent-c3="" alt="Generic placeholder image" class="rounded-circle" height="235" src="./assets/imagenes/saladejuegos.png" width="243">
      <h2>Gestion de Usuario</h2>
      <p>Gestionar el alta de clientes y empleados</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/AltaAdmin">Gestionar</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-6">
        <img _ngcontent-c3="" alt="Generic placeholder image" class="rounded-circle" height="235" src="./assets/imagenes/listado.jpg" width="243">
      <h2>Estadisticas</h2>
      <p>Estadisticas de empleados, turnos y especialidades</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/Estadistica">Ingresar a Estadisticas</a></p>
    </div><!-- /.col-lg-4 -->
    
  </div><!-- /.row -->
 
