.fondo{
    display: inline-flex;
    background-image: url(".../../../docs/assets/imagenes/slider-bg-2.jpg");
    -webkit-margin-before: 101px;
    margin-block-start: 101px;
    margin-top: -60px;
    /* background-size: 54%; */
    /* background-repeat: no-repeat; */
    width: 100%;
    height: 100%;
  }

  .fondo .col-lg-6 p {
    margin-right: 10.75rem;
  }


  .form-row {
    background: #dcdcdc;
    padding-bottom: 15px;
    margin-left: 10px;
    border-radius: 3px;
    border: solid #dcdcdc 1px;
    justify-content: center;
  }
  
  .form-horizontal .form-group {
      margin-right: 0px;
      margin-left: 0px;
  }
  
  .form-horizontal {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 66px;
    margin-left: 22em;
  }
  
  .sign-up-header {
  
    padding: 15px;
    background: white;
    margin-bottom: 10px;
    color: blue;
    font-family: arial black;
    background-color: yellowgreen;
    font-size: 30px;
  }
  .radio-padding {
    padding-bottom: 10px;
  }
  .button-register {
    width: 375px;
    margin-left: 15px;
    background-color: #003d70;
    color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.2s;
      cursor: pointer;
  }
  .button-register:hover {
    background-color: #448ac8;
    color: white;
  
  }

