<div class="fondo">


  <section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
               
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <table class="table" cellspacing="0" style="text-align: center">
                            <thead>
                                <tr>
                                <th>ID</th>
                                  <th>Fecha</th>
                                  <th>especialidad</th>
                                  <th>Especialista</th>
                                  <th>Estado</th>
                                  <th>Reseña</th>
                                  <th>Email</th>
                                  <th>Estado Encuesta</th>
                                </tr>
                            </thead>
                            <tbody style="text-align: center" *ngFor="let turno of lista">
                                <tr >
                                        <td>{{turno.id}}</td>
                                    <td>{{turno.fechaInicio}}</td>
                                    <td>{{turno.especialidad}}</td>
                                    <td>{{turno.especialista}}</td>
                                    <td>{{turno.estado}}</td>
                                    <td>{{turno.resena}}</td>
                                    <td>{{turno.email}}</td>
                                    <td>{{turno.estadoEncuesta}}</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                    <button (click)="encuestasPendientes()">Encuestas Pendientes</button>
                    <div *ngIf="muestra">
                        <h1>Encuestas</h1>

                        <table class="table" cellspacing="0" style="text-align: center">
                                <thead>
                                    <tr>
                                      <th>Id</th>
                                      <th>especialidad</th>
                                      <th>Especialista</th>
                                      <th>Estado Encuesta</th>
                                      <th>Hacer encuesta</th>
                                      <th>Estado</th>
                                      <th>email</th>
                                    </tr>
                                </thead>
                                <tbody style="text-align: center" *ngFor="let turno of lista2">
                                    <tr *ngIf="turno.estado == 'completado'">
                                        <td>{{turno.id}}</td>
                                        <td>{{turno.especialidad}}</td>
                                        <td>{{turno.especialista}}</td>
                                        <td>{{turno.estadoEncuesta}}</td>
                                        
                                        <td><button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary center-block" (click)="mostrar(turno.id)">Hacer encuesta</button></td>
                                        <td>{{turno.estado}}</td>
                                        <td>{{turno.email}}</td>
                                    </tr>
                                    
                                </tbody>
                            </table>

                            

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container" *ngIf="muestra2">
        <div class="row" style="
       
       margin-left: 31%;
        background-color: cadetblue;
        width: 41%;
    
    ">
            <div role="form" class="col-md-9 go-right">
                <div class="form-group">
                    <span>Puntaje al especialista</span>
                <input id="name" name="name" type="number" class="form-control" required [(ngModel)]="turno2.puntajeEsp">
                
            </div>
            <div class="form-group">
                    <span>Puntaje a la clinica</span>
                <input id="phone" name="phone" type="number" class="form-control" required [(ngModel)]="turno2.puntajeCli">
                
            </div>
            <div class="form-group">
                    <span>Breve descripcion de su atencion</span><br>
                <input type="text" style="height: 100px; width: 400px" maxlength="66" [(ngModel)]="turno2.experiencia">
                
            </div>
            <div>
                <input type="button" (click)="hacer()" value="Enviar">
            </div>
        </div>
        </div>
    </div>

    <div id="snackbar">{{Mensajes}}</div>
</div>